.window {
  background-color: lightgray;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding: 2px;
  font-family: 'IBM Plex Mono', monospace;
}

.bash {
  background-color: black;
  height: 70%;
  min-height: 400px;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  font-family: 'IBM Plex Mono', monospace;

  .instructions {
    color: white;
    display: block;
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .prompt {
    color: white;
  }

  .cursor {
    color: white;
    animation: blinkingText 1.5s infinite;
  }

  .bash-content {
    color: white;
    margin-left: 5px;

    > span {
      margin: 0 5px;
    }
  }

  .employment:nth-of-type(1) {
    span:first-child {
      color: dodgerblue;
    }

    span:nth-child(2) {
      color: darkorange;
    }

    span:nth-child(3) {
      color: magenta;
    }
  }

  .employment:nth-of-type(2) {
    span:first-child {
      color: dodgerblue;
    }

    span:nth-child(2) {
      color: darkgreen;
    }

    span:nth-child(3) {
      color: magenta;
    }
  }

  .employment:nth-of-type(3) {
    span:first-child {
      color: dodgerblue;
    }

    span:nth-child(2) {
      color: limegreen;
    }

    span:nth-child(3) {
      color: magenta;
    }
  }

  .employment:nth-of-type(4) {
    span:first-child {
      color: dodgerblue;
    }

    span:nth-child(2) {
      color: red;
    }

    span:nth-child(3) {
      color: magenta;
    }
  }

  .education:nth-of-type(1) {
    span:first-child {
      color: dodgerblue;
    }

    span:nth-child(2) {
      color: darkgreen;
    }

    span:nth-child(3) {
      color: magenta;
    }
  }

  .education:nth-of-type(2) {
    span:first-child {
      color: dodgerblue;
    }

    span:nth-child(2) {
      color: darkred;
    }

    span:nth-child(3) {
      color: magenta;
    }
  }

  .contact {
    span {
      color: dodgerblue;

      a {
        color: #71eeb8;
      }
    }
  }

  @keyframes blinkingText {
    0% {
      color: white;
    }
    25% {
      color: transparent;
    }
    50% {
      color: transparent;
    }
    100% {
      color: white;
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    opacity: 80%;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: -5px;
    right: 130px;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

